<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Here are all the events
      </h1>
      
      <div class="col-md-8">
            <h3>Events</h3>
            <ul>
            <% @events.each do |event|  %>
            <li><%= event.title %></li>
            <%end %>
            </ul>  
        </div>
        
        <div class="col-md-8">
            <h3>Past Events</h3>
            <ul>
            <% @past_events.each do |event|  %>
            <li><%= event.title %></li>
            <%end %>
            </ul>  
        </div>
        
        <div class="col-md-8">
            <h3>Future Events</h3>
            <ul>
            <% @future_events.each do |event|  %>
            <li><%= event.title %></li>
            <%end %>
            </ul>  
        </div>
    </section>
  </aside>
</div>